[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
ipython = "*"
matplotlib = "*"
jupyter = "*"
notebook = "*"
pymzml = "*"
scikit-learn = "==0.20.3"
pyyaml = "*"
events = "*"
psims = "*"
tornado = "*"
pynumpress = "*"
tqdm = "*"
joblib = "*"
ipyparallel = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3"
