<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<!-- see https://indexoutofrange.com/Could_not_load_file_or_assembly_or_one_of_its_dependencies/#redirect -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="API-2.0" publicKeyToken="c03bf447005257eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>